body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

/* ----------------------- hearder ----------------*/

header {
   background-color: #ffffff;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbbb;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    
    background-color: #ffffff;
    padding: 5px;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    border-radius: 3px;
    white-space: nowrap;
}

nav a:hover { 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


button {
    background-color: #4ca0af;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}



button:hover {
    background-color: #457fa0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* #playbutton {
    background-color: #45a08c;
    color: aliceblue;
} */

 #playbutton:hover {
    background-color: #3c9991;
    
 }

 #playbutton.selected {
    background-color: #24ceec;
 }

 .selected:not(#playbutton) {
    border-bottom: 3px solid #24ceec;
    
 }

/* ---------------- footer------------ */

 footer {
    padding: 10px;
    margin-top: 5%;
    height: 5%;
    background-color: #686868;
 }


/* --------------- main ----------------- */

 main {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
 }

 main >* {
    
    margin-top: 40px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* width: 600px; */

    
 }

 /* ------------------- search bar ------------------- */
.search-bar{
    display: flex;
    justify-content: center;
 }

 .search-bar > input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .search-bar > button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    background-color: #1452c5a8;
    color: #fff;
    cursor: pointer;
    outline: none;
  }


/*--------------------- groupes ----------------- */

.groupe {
    max-width: 40%;
}

.groupe > div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;


}

.groupe > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    padding: 10px ;
}

.dropdown {
    display: flex;
    align-items: center;
}

.dropdown >img{
    padding-left: 5px;
}

.groupe img:hover{
    cursor:pointer;
}

.groupe > div:first-child:hover{
    cursor:default;
}

.groupe > div:last-child{
    display: none;
}

.groupe > div:last-child > p{
    margin: 10px;
}

.groupe hr {
    border-color: grey;
}

.pen{
    width: 15%;
}

.engrenage{
    width: 18px;
}

.eleve > span {
    display: flex;
    justify-content: space-between;
}

.eleve > span:last-child{
    justify-content: center;
}

.plus{
    width: 1.125em;
    border: #000000 0.15em solid;
    border-radius: 15%;
    padding: 0.4em;
}



/*--------------------- carousel  -------------- */
.carousel {
    position: relative;
    width: 700px;
    height: 400px;
    min-height: 400px;
    min-width: 700px;
    overflow: hidden;


}

.carousel button {
    position: absolute;
    height: 100%;
    z-index: 1;
    background-color: #568f9e9d;

}

.carousel button:last-child{
    top :0;
    right: 0;
}

.carousel-el {
    height: inherit;
    width: inherit;
    display:flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-el >* {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; 
    background-color: #9abdc7;
    color: #ffffff;
    min-height: 400px;
    min-width: 700px; 
}

.slide >* {
    margin: 10px;
}

.slide img {    
    height: 60%;
}


/* card  */

.cardcontainer, .flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    width: 250px;
    padding: 20px;
    margin: 15px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
}

.border {

    border: 1px solid #bbbbbb;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
/*--------------------- Accueil  -------------- */
.description_jeu{
    display: flex;
}

.description_jeu >*{
    padding: 10px;
}

.banner_space{
    width: 85%;
}


