
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

header {
  background-color: #ffffff;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #bbbb;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.selected {
  border-bottom: 3px solid #24ceec;
}

header button {
  background-color: #4ca0af;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

main button {
  background-color: #4ca0af;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


header button:hover {
  background-color: #457fa0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav {
   display: flex;
   background-color: #ffffff;
   padding: 5px;
}

nav a {
   color: #000000;
   text-decoration: none;
   padding: 10px;
   margin: 0 10px;
   font-weight: bold;
   border-radius: 3px;
   white-space: nowrap;
}

nav a:hover { 
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

main {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

main form{
  background-color: white;
    display: block;
    font-size: large;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);;
}

form div {
  margin: 40px;
  display: flex;
}

form div input{
    margin-right: 15px;
}

.fin {
  margin: 40px;
  display: flex;
  justify-content: space-between;
}

form>button{
  margin-top: 15px;
  margin-left: 33%;
  margin-bottom: 10px;
}

form div label input[name="mail"] {
  width: 280px; 
}







.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}