<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/charte.css">
        <title>Charte de Confidentialité de The Game</title>
    </head>
    <body>      
        <h2>A. Introduction</h2>
        <p>
        1.  La confidentialité des visiteurs de notre site web est très importante à nos yeux, et nous nous engageons à la protéger.
                Cette politique détaille ce que nous faisons de vos informations personnelles.<br>
        2.  Consentir à notre utilisation de cookies en accord avec cette politique lors de votre première visite de notre site web
        nous permet d'utiliser des cookies à chaque fois que vous consultez notre site.
        </p>
        <h2>B. Source</h2>
        <p>
        Ce document a été créé grâce à un modèle de SEQ Legal (seqlegal.com)et a été modifié par Website Planet (www.websiteplanet.com)
        </p>
        <h2>C. Collecte d'informations personnelles</h2>
        <p>
        Les types d'informations personnelles suivants peuvent collecter, stocker et utiliser :<br>
        <span></span>1.  Des informations sur vos visites et votre utilisation de ce site web y compris la source référente,
                la durée de la visite, les pages vues, et les chemins de navigation de sites web;<br>
        <span></span>2.  Des informations comme votre nom, votre adresse e-mail, que vous nous fournissez lors de votre inscription au site;<br>
        <span></span>3.  Des informations que vous saisissez quand vous utilisez les services de notre site web;<br>
        <span></span>4.  Des informations générées lors de l'utilisation de notre site, y compris quand, à quelle fréquence et sous quelles circonstances vous l'utilisez;</span><br>
        <span></span>5.  Toute autre information personnelle que vous nous communiquez.<br><br>
        
        Avant de nous divulguer des informations personnelles concernant une autre personne, vous devez obtenir le consentement de ladite personne
        en ce qui concerne la divulgation et le traitement de ces informations personnelles selon les termes de cette politique.
        </p>
        <h2>D. Utilisation de vos informations personnelles</h2>
        <p>
        Les informations personnelles qui nous sont fournies par le biais de notre site web seront utilisées dans les objectifs décrits dans cette politique
            ou dans les pages du site pertinentes. Nous pouvons utiliser vos informations personnelles pour :<br>
        <span></span>1.  Administrer notre site web;<br>
        <span></span>2.  Personnaliser notre site web pour vous;<br>
        <span></span>3.  Permettre votre utilisation des services proposés sur notre site web;<br>
        <span></span>4.  Vous envoyer des communications commerciales non relatives au marketing;<br>
        <span></span>5.  Vous envoyer des notifications par e-mail que vous avez expressément demandées;<br>
        <span></span>6.  Traiter les demandes et les réclamations relatives à notre site web effectuées par vous ou vous concernant;<br>
        <span></span>7.  Maintenir la sécurité de notre site web et empêcher la fraude;<br>
        <span></span>8.  Vérifier le respect des conditions générales qui régissent l'utilisation de notre site web
                (y compris surveiller les messages privés envoyés par le biais du service de messagerie privé de notre site web);<br><br>
        Si vous soumettez des informations personnelles sur notre site web dans le but de les publier, nous les publierons
            et pourrons utiliser ces informations conformément aux autorisations que vous nous accordez.<br>
        Vos paramètres de confidentialité peuvent être ajustés dans vos paramètres de confidentialité sur le site web.
        Sans votre consentement explicite, nous ne fournirons pas vos informations personnelles à quiconque.
        </p>
        <h2>E. Divulgation de vos informations personnelles</h2>
        <p>
        Nous pouvons divulguer vos informations personnelles à n'importe lequel de nos employés, dirigeants, assureurs, conseillers professionnels,
            agents, fournisseurs, ou sous-traitants dans la mesure où cela est raisonnablement nécessaire aux fins énoncées dans cette politique.<br>
        Nous pouvons divulguer vos informations personnelles à n'importe quel membre de notre groupe d'entreprises
            dans la mesure où cela est raisonnablement nécessaire aux fins énoncées dans cette politique.<br>

        Nous pouvons divulguer vos informations personnelles :<br>
        <span></span>1.  Dans la mesure où nous sommes tenus de le faire par la loi;<br>
        <span></span>2.  Dans le cadre de toute procédure judiciaire en cours ou à venir;<br>
        <span></span>3.  Pour établir, exercer ou défendre nos droits légaux
                (y compris fournir des informations à d'autres à des fins de prévention des fraudes et de réduction des risques de crédit);<br>
        <span></span>4.  À toute personne que nous estimons raisonnablement faire partie intégrante d'un tribunal ou autre autorité compétente
                pour la divulgation de ces informations personnelles si, selon notre opinion,<br><span></span><span></span>
                un tel tribunal ou une telle autorité serait susceptible de demander la divulgation de ces informations personnelles.<br><br>
        
        Sauf disposition contraire de la présente politique, nous ne transmettrons pas vos informations personnelles à de tierces parties.
        </p>
        <h2>F. Transferts internationaux de données</h2>
        <p>
        Nous ne transmettons aujourd'hui aucune données à de tierces parties à l'international.
        </p>
        <h2>G. Conservation de vos informations personnelles</h2>
        <p>
        1.  Cette Section G détaille nos politiques de conservation des données et nos procédures,
                conçues pour nous aider à nous conformer à nos obligations légales<br><span></span>concernant la conservation et la suppression d'informations personnelles.<br>
        2.  Les informations personnelles que nous traitons à quelque fin que ce soit ne sont pas conservées plus longtemps que nécessaire à cette fin ou à ces fins.<br>
        3.  Sans préjudice à l article G-2, nous supprimerons les données personnelles de ces catégories 6 mois après que vous nous les ayez transmis.<br>
        4.  Nonobstant les autres dispositions de cette Section G, nous conserverons des documents (y compris des documents électroniques)
                contenant des données personnelles :<br>
                    <span></span>1.  Dans la mesure où nous sommes tenus de le faire par la loi;<br>
                    <span></span>2.  Si nous pensons que les documents peuvent être pertinents pour toute procédure judiciaire en cours ou potentielle;<br>
                    <span></span>3.  Pour établir, exercer ou défendre nos droits légaux
                        (y compris fournir des informations à d'autres à des fins de prévention des fraudes et de réduction des risques de crédit).<br>
        </p>
        <h2>H. Sécurité de vos informations personnelles</h2>
        <p>
        1.  En tant qu'étudiant, nous mettons tout en œuvre pour protéger vos données mais ne pouvons garantir la sécurité complète des données en vue de nos moyens.<br>
        2.  Vous êtes responsable de la confidentialité du mot de passe que vous utilisez pour accéder à notre site web<br><span></span><span></span>
                (nous vous demanderons uniquement votre mot de passe dans le cadre de votre identification ou lors de la création de votre compte).
        </p>
        <h2>I. Amendements</h2>
        <p>
        Nous pouvons parfois mettre cette politique à jour en publiant une nouvelle version sur notre site web.<br>
        Vous devez vérifier cette page régulièrement pour vous assurer de prendre connaissance de tout changement effectué à cette politique.<br>
        Nous pouvons vous informer des changements effectués à cette politique par courrier électronique
            ou par le biais du service de messagerie privée de notre site web.<br>
        </p>
        <h2>J. Vos droits</h2>
        <p>
        Vous pouvez nous demander de vous fournir toute information personnelle que nous détenons sur vous;<br>
        Nous pouvons retenir les informations personnelles que vous demandez dans la mesure autorisée par la loi.
        </p>
        <h2>K. Sites web tiers</h2>
        <p>
        Notre site web contient des liens hypertextes menant vers des sites web tiers et des informations les concernant.<br>
        Nous n'avons aucun contrôle sur ces sites, et ne sommes pas responsables de leurs politiques de confidentialité ni de leurs pratiques.
        </p>
        <h2>L. Mise à jour des informations</h2>
        <p>
        Merci de nous faire savoir si les informations personnelles que nous détenons à votre sujet doivent être corrigées ou mises à jour.
        </p>
        <h2>M. Cookies</h2>
        <p>
        Un cookie est un fichier contenant un identifiant (une chaîne de lettres et de chiffres) envoyé par un serveur web vers un navigateur web et stocké par le navigateur.<br>
        L'identifiant est alors renvoyé au serveur à chaque fois que le navigateur demande une page au serveur.<br><br>
        Les cookies peuvent être « persistants » ou « de session » :<br>
            <span></span>Un cookie persistant est stocké par le navigateur et reste valide jusqu'à sa date d'expiration,
                à moins d'être supprimé par l'utilisateur avant cette date d'expiration;<br>
            <span></span>Un cookie de session quant à lui expire à la fin de la session utilisateur, lors de la fermeture du navigateur.<br><br>
        Les cookies ne contiennent en général aucune information permettant d'identifier personnellement un utilisateur,
            mais les informations personnelles que nous stockons à votre sujet peuvent être liées aux<br><span></span>informations stockées dans les cookies et obtenues par les cookies.<br>
        Nous n'utilisons que des cookies de session sur notre site web.<br><br>
        
        1.  La plupart des navigateurs vous permettent de refuser ou d'accepter les cookies. Par exemple :<br>
        <span></span>1.  avec Internet Explorer (version 10) :<br>
        <span></span><span></span>vous pouvez bloquer les cookies en utilisant les paramètres de remplacement de la gestion des cookies disponibles en cliquant sur
                    « Outils », « Options internet », « Confidentialité » puis « Avancé »;<br>
        <span></span>2.  avec Firefox (version 24) :<br>
        <span></span><span></span>vous pouvez bloquer tous les cookies en cliquant sur « Outils », « Options », « Confidentialité »
                    puis en sélectionnant « Utiliser des paramètres personnalisés pour l'historique » depuis le menu déroulant
                    <br><span></span><span></span><span></span>et en décochant « Accepter les cookies provenant des sites »;<br>
        <span></span>3.  avec Chrome (version 29) :<br>
        <span></span><span></span>vous pouvez bloquer tous les cookies en accédant au menu « Personnaliser et contrôler »
                    puis en cliquant sur « Paramètres », « Montrer les paramètres avancés » et « Paramètres de contenu »
                    <br><span></span><span></span><span></span>puis en sélectionnant « Empêcher les sites de définir des données » dans l'en-tête « Cookies ».<br><br>
        
        Bloquer tous les cookies aura un impact négatif sur l'utilisation de nombreux sites web.<br>
        Si vous bloquez les cookies, vous ne pourrez pas utiliser toutes les fonctionnalités de notre site web.<br><br>
        
        2.  Vous pouvez supprimer les cookies déjà stockés sur votre ordinateur :<br>
        <span></span>1.  avec Internet Explorer (version 10) :<br>
        <span></span><span></span>vous devez supprimer le fichier cookies manuellement
                    (vous pourrez trouver des instructions pour le faire ici <a href="http://support.microsoft.com/kb/278835">http://support.microsoft.com/kb/278835</a>);<br>
        <span></span>2.  avec Firefox (version 24) :<br>
        <span></span><span></span>vous pouvez supprimer les cookies en cliquant sur « Outils », « Options », et « Confidentialité »,
                    puis en sélectionnant « Utiliser des paramètres personnalisés pour l'historique »<br><span></span><span></span><span></span>
                    et en cliquant sur « Montrer les cookies », puis sur « Supprimer tous les cookies »;<br>
        <span></span>3.  avec Chrome (version 29) :<br>
        <span></span><span></span>vous pouvez supprimer tous les cookies en accédant au menu « Personnaliser et contrôler »
                    puis en cliquant sur « Paramètres », « Montrer les paramètres avancés »<br><span></span><span></span><span></span>
                    et « Supprimer les données de navigation » puis « Supprimer les cookies et les données des modules d'autres sites » avant de cliquer sur « Supprimer les données de navigation ».<br><br>

        Supprimer les cookies aura un impact négatif sur l'utilisation de nombreux sites web.
        </p>
    </body>
</html>