<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/login.css">
    <title>Création élève</title>
</head>
<body>
    <form action="" method="post">
        <h2>Création de compte - élève</h2>
        <h3>Groupe X</h3>
        <label for="lastname">Nom</label>
        <input type="text" id="lastname" name="nom" placeholder="DUPOND" required>
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname" name="prenom" placeholder="Jean" required>
        <button type="submit">Créer le compte</button>
    </form>
</body>
</html>